@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home Index</h1>
@* @ViewBag.returnValue
@ViewBag.ResultsquareValue *@

<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Employee Email</th>
            <th scope="col">Employee Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
{
        <tr>
            <th scope="row">@item?.EmployeeId</th>
            <td>@item?.EmployeeName</td>
            <td>@item?.EmployeeEmail</td>
            <td>@item?.EmployeeNumber</td>
        </tr>
        }
        </tbody>
    </table>
<ul>



</ul>
