@model Employee
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>index</h1>
<form asp-action="Index" asp-controller="Employee" method="post">
    <input type="text" asp-for="EmployeeName" placeholder="Employee Name" />
    <span asp-validation-for="EmployeeName"></span>
    <br />
    <input type="email" asp-for="EmployeeEmail" placeholder="Employee Email" />
    <span asp-validation-for="EmployeeEmail"></span>
    <br />
    <input type="text" asp-for="EmployeeNumber" placeholder="Employee Number" />
    <span asp-validation-for="EmployeeNumber"></span>
    <button>Send Form</button>
</form>


<partial name="_ValidationScriptsPartial"></partial>